.nav-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav";
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav-right nav-center nav-left";
  grid-area: nav;
}

.nav-right { grid-area: nav-right; }

.nav-center { grid-area: nav-center; }

.nav-left { grid-area: nav-left; }

.main-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "hero" "featured" "dev-phases" "carrousel" "in-touch" "footer";
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "footer-logo footer-expanse company-header showcase-header contact-header social-header" "footer-copyright footer-expanse company-box showcase-box contact-box social-icons";
  grid-area: footer;
}

.footer-expanse { grid-area: footer-expanse; }

.footer-logo { grid-area: footer-logo; }

.footer-copyright { grid-area: footer-copyright; }

.company-header { grid-area: company-header; }

.company-box { grid-area: company-box; }

.showcase-header { grid-area: showcase-header; }

.showcase-box { grid-area: showcase-box; }

.contact-header { grid-area: contact-header; }

.contact-box { grid-area: contact-box; }

.social-header { grid-area: social-header; }

.social-icons { grid-area: social-icons; }

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "hero-explain hero-transparent";
  grid-area: hero;
}

.hero-explain { grid-area: hero-explain; }

.hero-transparent { grid-area: hero-transparent; }

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "featured-explain featured-image";
  grid-area: featured;
}

.featured-explain { grid-area: featured-explain; }

.featured-image { grid-area: featured-image; }

.dev-phases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "phases-menu phases-tabs";
  grid-area: dev-phases;
}

.phases-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "phases-menu-header" "phases-menu-tabs";
  grid-area: phases-menu;
}

.phases-menu-header { grid-area: phases-menu-header; }

.phases-menu-tabs { grid-area: phases-menu-tabs; }

.phases-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tab-title tab-explain";
  grid-area: phases-tabs;
}

.tab-title { grid-area: tab-title; }

.tab-explain { grid-area: tab-explain; }

.carrousel { grid-area: carrousel; }

.in-touch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "contact-us about-us";
  grid-area: in-touch;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "about-us-header" "about-us-box";
  grid-area: about-us;
}

.about-us-header { grid-area: about-us-header; }

.about-us-box { grid-area: about-us-box; }

.contact-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "contact-us-header" "contact-us-box";
  grid-area: contact-us;
}

.contact-us-header { grid-area: contact-us-header; }

.contact-us-box { grid-area: contact-us-box; }